<form id="sort-form" method="post" action="/users" hx-post="/users" hx-target="#user-table">
    <table>
        <thead>
            <tr>
                <th>
                    <input type="submit" name="sort_by" value="id">
                    ID
                    <span class='sort-icon{% if sort_by == "id" %} visible{% endif %}'>{{ sort_order_icon }}</span>
                </th>
                <th>
                    <input type="submit" name="sort_by" value="first_name">
                    First Name
                    <span class='sort-icon{% if sort_by == "first_name" %} visible{% endif %}'>{{ sort_order_icon
                        }}</span>
                </th>
                <th>
                    <input type="submit" name="sort_by" value="last_name">
                    Last Name
                    <span class='sort-icon{% if sort_by == "last_name" %} visible{% endif %}'>{{ sort_order_icon
                        }}</span>
                </th>
                <th>
                    <input type="submit" name="sort_by" value="age">
                    Age
                    <span class='sort-icon{% if sort_by == "age" %} visible{% endif %}'>{{ sort_order_icon }}</span>
                </th>
                <th>
                    <input type="submit" name="sort_by" value="email">
                    Email
                    <span class='sort-icon{% if sort_by == "email" %} visible{% endif %}'>{{ sort_order_icon }}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="hidden" name="sort_order" value="{{ sort_order }}">
    <input type="hidden" name="prev_sort_by" value="{{ sort_by }}">
</form>
